name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-12]
        compiler: [g++-11, clang++]
        vecflag: [-march=native]
        memdbgflag: ["", -DSCTL_MEMDEBUG]
        optflag: [-O0, -O3]
        exclude:
          - os: macos-12
            compiler: clang++
    
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@main

    - name: Setup Linux
      if: runner.os == 'Linux'
      run: sudo apt-get install -y gcc-11 g++-11

    - name: Configure macOS
      if: runner.os == 'macOS'
      run: brew install gcc@11

    - name: Build
      run: make -j CXX="${{matrix.compiler}}" CXXFLAGS="-std=c++11 ${{matrix.optflag}} ${{matrix.vecflag}} ${{matrix.memdbgflag}} -g -rdynamic -fopenmp -Wall -Wfloat-conversion -DSCTL_GLOBAL_MEM_BUFF=500 -DSCTL_QUAD_T=__float128 -DSCTL_PROFILE=5 -DSCTL_VERBOSE -DSCTL_SIG_HANDLER -fsanitize=address,leak,undefined,pointer-compare,pointer-subtract,float-divide-by-zero,float-cast-overflow -fno-sanitize-recover=all -fstack-protector"

    - name: Test
      run: make test
